/.venv/
*.pyc
__pycache__/
/media/predictions/
/db.sqlite3
*.sqlite3
/.idea/
.vscode/
/.pytest_cache/
env/
venv/
pip-wheel-metadata/
.mypy_cache/
/.DS_Store
plots/skipped_assets.log
.venv/
staticfiles/
